nav {
    width: 290%;
}
.logo {
    padding: 2px 0 0 8px;
}
.description-container .floating-image.left {
    float: left;
    margin-right: 52px;
    margin-bottom: -25px;
    margin-left: 34px;
    height: 52vh;
    width: 420vw;
}
.description-container .floating-image {
    max-width: 295px;
}
.finishing1 {
    padding-top: 16px;
    color: black;
    font-size: 30px;
    text-align: right;
    margin: -1px -536px;
}
.paragraph2 {
    margin: 21px -536px;
    font-size: 23px;
}
.paragraph3 {
    /* text-align: right; */
    margin: 35px 32px;
    font-size: 19px;
}
.btn {
    background-color: green;
    text-align: center;
    font-size: 19px;
    color: white;
    margin: -32px 361px;
    padding: 14px 114px;
}
.image3 {
    width: 235%;
    height: 32vh;
    display: block;
    margin-bottom: auto;
    margin: -85px -204px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
.image2 {
    width: 255%;
    height: auto;
    display: block;
    margin-bottom: auto;
    margin: -77px 224px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
.image1 {
    width: 251%;
    height: auto;
    display: block;
    margin-bottom: auto;
    margin: 10px 693px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
h2 {
    margin: 20px 18px;
    padding: 20px 18px;
}
h5 {
    margin: -21px 29px;
    font-size: 20px;
}
/* .price1 {
    font-size: 19px;
    margin: 15px 18px;
    padding: 15px 18px;
}  */
.price {
    font-size: 19px;
    color: #0000008f;
    margin: 15px -338px;
    padding: 15px 124px;
}