.image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

.column {
    column-count: 3;
    column-gap: 15px;
    max-width: 1000px;
    margin: auto;
    padding: auto;
    
}

.final {
    text-align: center;
    font-size: 48px;
    padding-bottom: 25px;
}
